body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #96bfdf;
}

header {
    background-color: #3a3434;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding for spacing */
}

.header-content h1 {
    color: #d3da86;
    margin: 0;
    flex-grow: 1; /* Ensures the title takes the available space */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px; /* Adjusted spacing between menu items */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #a8dadc; /* Hover effect color change */
}

.cart-icon {
    display: flex;
    align-items: center;
}

.cart-icon img {
    width: 30px;
    height: auto;
}
#logo{
    height: 35px;
    margin:0%;
    transition: background-color o.3s;
}
#logo:hover{
    background-color: yellow;
}
input{
    height: auto;
    margin-left: 45px;
}
.side-panel{
    width:300px;
    height:100%;
    padding:10px;
    margin-top:10px;
    background-color: rgb(241, 234, 234);
    color:rgb(16, 10, 3);
    left:5px;
    box-shadow:0 4px 5px 5px #353535;
}
.side-panel a{
    color:rgb(16, 11, 4);
    margin-top: 10px;
    transition: color 0.3s ease;
}
.side-panel a:hover{
    color:#96bfdf;
}